@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Open+Sans&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #DB1B22;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover {
    background-color: #2D2D2A;
    color: #F7FFF7;
}

nav a {
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 35px;
    
}

nav {
    display: flex;    
    justify-content: space-evenly;
}
/* Header */

/* CSS for content */
.content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

#hero{
    grid-column: 3/5;
    grid-row: 1/3;    
}

#hero-image {
    width: 100%;
}

#hero-message{
    grid-column: 1/3;
    grid-row: 1/2;    
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#hero-message h1, #hero-message p {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    color: #ffffff;
    font-family: "Open Sans", Helvetica, sans-serif;    
}

#hero-message p {
    margin: 5em;
}

.home-title {
    color: #ffffff;
    font-family: "Nunito", Helvetica, sans-serif;
    font-size: 3em;
    margin-top: 50px;    
}

.hero-msg{
    font-size: 0.7em;        
}
/* CSS for content end*/

body {
    background-color: #c3c3c3;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
}



/* Button */

.say {
    background-color: #DB1B22;
    color: #F7FFF7;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 30px 50px;
    margin-top: 50px;
    border-radius: 35px;
    font-family: "Nunito", Helvetica, sans-serif;
    border: none;
}

.say:hover {
    background-color: #2D2D2A;
    color: #F7FFF7;
}

.button-box {
    text-align: center;
    margin-top: 100px;
}

/* Button end */



/* Footer */

footer {
    background-color: #F7FFF7;
    padding: 5px 5px;
    margin-top: -5px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

footer h2 {
    color: black;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: black;
}

footer p {
    font-size: 1em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 50px;
}

/* Footer end */

/* Logo */

.logo {
    width: 200px;
}

#logo_link{
    padding-top: 5px;
    padding-left: 100px;
    justify-self: center;
    align-self: center;
}
/* Logo end */

/* Adding below CSS for MY TAB */

.mytabcontent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

#tab-image{
    grid-column: 4/5;
    grid-row: 1/2;    
}

#megaphone-image {
    width: 90%;
}

#mytab-message{
    grid-column: 1/4;
    grid-row: 1/2;    
}

#mytab-message h1, #mytab-message p {
    text-align: center;    
    color: #ffffff;
    font-family: "Open Sans", Helvetica, sans-serif;    
}

#mytab-message p {
    margin: 1em;
}

.mytab-msg{
    font-size: 0.7em;        
}

/* CSS For form on MY TAB */



/* Button on my tab CSS */

.mytab-box {
    text-align: center;
    margin-top: -10px;
}
/* Button on my tab CSS end*/



.mytab-form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 1100px;
    /* Form outline */
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  

  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 0.7em "Open Sans", Helvetica, sans-serif;
  
    /* Uniform text field size */
    width: 1100px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }



    /* CSS for the feedback*/

    #feedback {
        background-color: #4ECDC4;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: .5em;
        /* make this element invisible until we are ready for it */
        display: none;
        font-family: "Nunito", Helvetica, sans-serif;
        color: #ffffff;   
    }
    .moveDown {
        margin-top: 3em;
    }




    /* CSS for contact us */

    #contact-image {
        width: 90%;
    }

    .contactus-form {
        /* Center the form on the page */
        margin: 0 auto;
        width: 500px;
        /* Form outline */
        padding: 0.5em;
        border: 1px solid #ccc;
        border-radius: 1em;
      }

    .text-box {
        font: 0.7em "Open Sans", Helvetica, sans-serif;
  
    /* Uniform text field size */
    width: 500px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
    }